h1 Hi! I'm uuhh...

:markdown
  Not a maniac *`|ˈmeɪnɪak|`* of computer science or kind of Internet observer,
  but a big fan of computer and Internet.
  Also a front-end developer by the way, wish your guess is good as mine.
  Started writing this blog to share some front-end stuff and hopefully some other interesting things.

  Yours or hers,
  Edward Chu

