p.
  Here are some funny hacks for your web browser, mostly collected from Internet,
  <br>
  which may save your day or make you lol.

<!-- more -->

p.
  Hacks would be classified into three parts and showed in separate pages above.

:markdown
  ## Credits
  [Dockerizing a Node.js Web App](http://www.quora.com/What-are-the-most-interesting-HTML-JS-DOM-CSS-hacks-that-most-web-developers-dont-know-about)
  [前端不为人知的一面--前端冷知识集锦](http://www.cnblogs.com/wayou/p/things_you_dont_know_about_frontend.html)